
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

.main_container{
    width: 100%;
}

.header_row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 15px;
} 
.col_manu{
    width: 190px;
    height: 56px;
    display: flex;
}
.manu_bar{
    width: 40px;
    height:40px;
    align-items: center;
    padding: 10px;
    margin: 12px 0px 0px 0px;
}

.col1, .col2, .col3 {
    width: 16px;
    height: 5px;
    border-top: 2px solid #777671; 
}
.col1 {
    border-color:#777671;
}
.col2 {
    border-color:#777671;
}
.col3 {
    border-color: #777671;
}  

.logo_image{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.logo_image img {
    height: 100%;    
} 

.search_container{
    width:700px;
    height: 56px;
    display: flex;

} 

.search_box{
    width:100%;
    display: flex;
    height: 40px;
    border: 1px solid slategray;
    border-radius: 20px;
    align-items: center;
    margin: auto;
    padding: 15px;
} 

.search_bar{
    width: 550px;
    height:40px;
    border: 1px solid silver;
    background: transparent;
    justify-content: center;
    padding: 10px;
}

.search_button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 0px;
    margin-left: 3px;
    padding: 37px; 
     
}
.search_button img{ 
    width:40px;
    margin: 0px;
} 

.mic_icon{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
} 
.mic_icon img{
    width: 25px;
    height: 25px;
    margin: 0px;
} 

.dow_div{
    width:200px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download_icon {
    width: 40px;
    height: 40px;
} 

.download_icon img{
    width:30px;
    margin: 0px;
}

.notification_icon {
    width: 40px;
    height: 40px;  
}
.notification_icon img{
    width:30px;
    margin: 0px;
}

.profile {
    width: 40px;
    height: 40px;   
}

.profile img{
    width:30px;
    margin: 0px;
} 

/* moblie view media quray */

@media  (max-width: 576px) {
    .header_row {
        padding: 10px;
        align-items: center;
        border: 1px solid red;
    }
    .col_manu {
        width: 100%;
        justify-content: center;
        border: 1px solid blue;
    }

    .manu_bar {
        width: 35px;
        height: 35px;
        border: 1px solid black;
    }

    .logo_image {
        width: 100px;
    
    }

    .search_container {
        width: 100%;
        justify-content: center;

    }

    .search_box {
        width: 90%;
        height: 35px;
    }

    .search_bar {
        width: 80%;
        height: 35px;
        padding: 5px;

    }
    .search_button {
        width: 30px;
        height: 30px;
        padding: 5px;

    }

    .mic_icon {
        width: 30px;
        border: 1px solid f;
    }

    .dow_div {
        width: 100%;
        justify-content: center;
        gap: 10px;
        border: 1px solid salmon;
    }

    .download_icon,
    .notification_icon,
    .profile {
        width: 35px;
        height: 35px;
        border: 1px saddlebrown rosybrown;
    }

    .download_icon img,
    .notification_icon img,
    .profile img {
        width: 25px;
    }
}

/* Min Pad media quray veiw */

@media screen and (min-width: 576px) and (max-width: 1080px) {
    .header_row {
        padding: 10px 20px;
        align-items: center;
    }

    .col_manu {
        width: 150px;
    }

    .manu_bar {
        width: 40px;
        height: 40px;
    }

    .logo_image {
        width: 120px;
    }

    .search_container {
        width: 60%;
        justify-content: center;
    }

    .search_box {
        width: 100%;
        height: 45px;
    }

    .search_bar {
        width: 85%;
        height: 45px;
        padding: 8px;
    }

    .search_button {
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    .mic_icon {
        width: 40px;
    }

    .dow_div {
        width: 220px;
        justify-content: space-around;
    }

    .download_icon,
    .notification_icon,
    .profile {
        width: 40px;
        height: 40px;
    }

    .download_icon img,
    .notification_icon img,
    .profile img {
        width: 28px;
    }
}  

/* sidebar css */

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sidebar-col{
    width:220px;
}

.menu_item_home{
    width: 200px;
    height: 40px;
    border: 1px solid #f5f5f5;
    display: flex;
    margin-top: 10px;

    
}
.menu_item_home:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    
}
.icon_home{
    width: 55px;
    padding: 0px 12px;

}
.icon_home img{
    width: 25px;

}
.text_home{
    width: 132px;
    font-size: 16px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px;
}
.icon_shorts{
    width: 63px;
    padding: 0px 12px;

}
.icon_shorts img{
    width: 25px;

}
.text_shorts{
    width: 132px;
    border: 1px solid #f5f5f5;
    font-size: 16px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px; 
    
}
.icon_subscripition{
    width: 63px;
    padding: 0px 12px;

}
.icon_subscripition img{
    width: 25px;
}
.text_subscripition{
    width: 132px;
    border: 1px solid #f5f5f5;
    font-size: 16px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px

}

.line{
   width: 200px; 
   border-bottom: 1px solid slategrey;;
   margin-top: 10px;
}   

h5{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 13px;

}
.moblie{
    display: none;
}

.you_image,.arr{
    display: block;
}

.menu_item_you{
    width: 204px;
    height: 40px;
    border: 1px solid #f5f5f5;
    display: flex;
    margin-top: 10px;

}

.menu_item_you:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    
}
.icon_arrow{
    width: 30px;
    padding: 0px 15px;
    
}
.icon_img{
    width: 25px;
}
.text_you{
    width: 13px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    font-weight: bold;
}
.icon_history{
    width: 63px;
    padding: 0px 12px;
    
}
.icon_history img{
    width: 30px;
}
.text_history{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px

}
.icon_playlists{
    width: 63px;
    padding: 0px 12px;

}
.icon_playlists img{
    width: 30px;

}

.text_playlists{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px

}

.icon_watch{
    width: 63px;
    padding: 0px 12px;

}

.icon_watch img{
    width:30px;

}
    
.text_watch{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
} 
.icon_videos{
    width: 63px;
    padding: 0px 12px;

} 
.icon_videos img{
    width:30px;
}

.text_videos{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
} 

.icon_movies{
    width: 63px;
    padding: 0px 12px;

}

.icon_movies img{
    width: 30px;
}
.text_movies{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
} 

.icon_courses{
    width: 63px;
    padding: 0px 12px;

}

.icon_courses img{
    width: 30px;
}
.text_courses{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px

}
.icon_liked{
    width: 63px;
    padding: 0px 12px;

}

.icon_liked img{
    width: 30px;
}
.text_liked{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}
.line{
    width: 200px; 
    border-bottom: 3px solid slategrey;
    margin-top: 10px;
}
.menu_item_subscripption{
    width: 204px;
    height: 40px;
    display: flex;
    margin-top: 10px;

}
h4{
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 15px;
}

.menu_item_subscripption:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    border: 1px solid #f5f5f5;
    
}
.image_geeky{
    width: 63px;
    padding: 0px 12px;

}
.image_geeky img{
    width:30px;

}
.text_geeky{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}
.image_winners{
    width: 63px;
    padding: 0px 12px;
}
.image_winners img{
    width: 30px;
}
.text_winners{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.line{
    width: 210px; 
    border-bottom: 1px solid  black;
    margin-top: 10px;
}

.menu_item_explore{
    width: 204px;
    height: 40px;
    display: flex;
    margin-top: 10px;
}

.menu_item_explore:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    
}

.image_live{
    width: 63px;
    padding: 0px 12px;

}

.image_live img{
    width: 30px;
}

.text_live{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.icon_news{
    width: 63px;
    padding: 0px 12px;
}

.icon_news img{
    width: 30px;
}

.text_news{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.icon_sports{
    width: 63px;
    padding: 0px 12px;
}

.icon_sports img{
    width: 30px;
}

.text_sports{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.icon_gaming{
    width: 63px;
    padding: 0px 12px;
}

.icon_gaming img{
    width: 30px;
}

.text_gaming{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.icon_shorts{
    width: 63px;
    padding: 0px 12px;
}

.icon_shorts img{
    width: 25px;
}

.text_shorts{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px;    
}

.text_music{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.icon_prdcasts{
    width: 63px;
    padding: 0px 12px;
}

.icon_prdcasts img{
    width: 30px;
}

.text_prducasts{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px
}

.icon_beauty{
    width: 63px;
     padding: 0px 12px;
}

.icon_beauty img{
    width: 30px;
}

.text_beauty{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px;
}

.icon_trending{
    width: 63px;
    padding: 0px 12px;
}

.icon_trending img{
    width: 30px;
}

.text_trending{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px 12px;
}

.manu_item_moblie{
    display: none;
}



/*  main body css */


.main_body{
    width: 100%;    
}

.row_frist{
    width: 100%;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
    background-color: #0000000D;
    
}

.col1-col:hover{
    background-color:#0f0f0f;
    color: white;
    
}

.col1-col{
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    font-size:14px;
    text-align: center;   
}

.col2-col img{
    margin-top: 15px;
    width: 30px;
} 

.col1-col{
    display:block;
} 

.col1-moblie,
.col1-tablet{
    display:none;
} 


/* seconed row css */

.row_seconed{ 
    padding: 10px;  
}

.coll-container {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
}

.coll-box1{
    width: 100%;    
}

.coll-box2{
    width: 100%;    
}

.col1_image img {
    width: 100%;
    border-radius: 10px;
}

.title_logo img,
.three_dot img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.col1-text{
    display: flex;
}

.logo-text{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 8px;
    font-size: 14px;
}


/* row  three */
.row_three {
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #f5f5f5;
    margin-top: 15px;
}

.row.shots img {
    width: 100px; 
    height: auto;
}

.three_dot img {
    width: 30px;
    height: auto;
}

/*  row number four */


.row_four{
    display: flex;
    padding: 1px;
    margin-top: 20px;
    justify-content: center;    
}

.coll_shorts_div {
    width: 230px;
    border-radius: 20px;
    margin-left: 8px;
    padding: 10px;
    border-radius: 10px;
     text-align: center;    
}  

.coll_shorts_div2{
    width: 230px;
    border-radius: 20px;
    margin-left: 8px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.coll-shorts1{
    width: 100%;
    border-radius: 10px;
} 

.coll-shorts2{
    width: 100%;
    border-radius: 10px;
} 

.coll-shorts1 img{
    height: 320px;
    width: 100%;
    border-radius: 10px;
}

.coll-shorts2 img{
    height: 320px;;
    width: 100%;
    border-radius: 10px;
}

.shorts_text{
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}

.shorts_text img{
    width: 20px;
    height: 20px;;
}  

/* Header media quray moblie view */

@media  (max-width: 575px){

    .sidebar-col{
        width:55px;
        padding: 3px;
    } 

    .menu_item_home,
    .menu_item_you,
    .menu_item_subscripption,
    .menu_item_explore{
        display: none;
    }
    
    .you_image{
        display: none;
    }
    .line{
        display:none;
    }
    h4{
        display: none;
    }

    .menu_item_moblie{
        width: 204px;
        height: 40px;
        display: flex;
        margin-top: 10px;
    }

    .col_moblie_manu{
        width: 40px;
        padding: 18px 5px;
    }
    .col_moblie_manu img{
        width: 30px;
    }

    .main_body {
        width: 87%;
    }

    .row_frist{
        align-items: center;
        justify-content: space-between;
    }

    .col1-moblie {
        display:block;
        font-weight: bold;
        font-size: 14px;
        font-family: Arial, sans-serif;
    }

    .col1-col,
    .col1-tablet{
        display:none;
    }     

    .col2-col img{
        margin-top: 18px;  
    } 

    .row_second {
        display: flex;
        gap: 10px;
    }
    
    .coll-box2{
        display: none;

    } 

    .row_three {
        padding: px; 
    }

    .row.shots img {
        width: 60px;  
        height: auto;
    }

    .three_dot img {
        width: 20px;  
        height: auto;
    } 

    .coll_shorts_div2 {
        display: none;
 
    }  
    
    .coll_shorts_div{
        width: 90%;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .coll_shorts1_img{
        height: 200px;
        
    }
    .shorts_text {
        font-size: 11px;
        justify-content: center;
    }

    .shorts_text img {
        width: 15px;
        height: 15px;
    }

    .manu_item_moblie{
        display: block;
    } 
    
}




@media screen and (min-width: 576px) and (max-width: 1080px) {

    .sidebar-col {
        width: 55px;
        padding: 3px;
    }

    .menu_item_home,
    .menu_item_you,
    .menu_item_subscripption,
    .menu_item_explore,
    .you_image,
    .line{
        display: none;
    }

    h4{
        display: none;
    }



    .col_moblie_manu {
        width: 40px;
        padding: 13px 10px; 
        align-items: center;
        background-color: #f8f9fa; 
        border-radius: 8px; 

    }    

    .col_moblie_manu img{
        width: 24px;
        height: 24px; 
    }
    .col_moblie_manu h4{
        font-size: 14px;
        color: #333;
        margin: 0;
    }


    .main_body {
        width: 90%;
    }

    .row_frist {
        align-items: center;
        text-align: center;
        
    }

    .col1-moblie{
        display: block;
        font-weight: bold;
        font-family:Arial, sans-serif;
    
    }

    .col1-col {
        display: none;
        padding: 5px 10px; 
    }

    .col2-col img {
        width: 100%;
        margin-top: 20px;
    } 
   

    .coll-box2{
        display: none;

    } 
    .col1-tablet{
        display: block;
        font-weight: bold;
        font-size: 14px;
        font-family: Arial, sans-serif;
       
    }
    
    .coll_shorts_div {
        width: 300px;
        padding: 3px; 
        margin-left: 5px;
    }

    .coll-shorts1 img{
        width: 100%; 
        border-radius: 20px;
    }

    .shorts_text {
        width: 170px;
        min-height: 35px;
        font-size: 14px; 
    }
    .shorts_text img {
        width: 25px;
        height: 18px;
        margin-top: 8px; 
    }
    .coll_shorts_div2 {
        display: none;
  
    } 
    .manu_item_moblie{
        display: block;
    } 
}    
    



