
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

.main_container{
    width: 100%;
}

.header_row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 15px;
    border: 1px solid ;
} 
.col_manu{
    width: 169px;
    height: 56px;
    display: flex;
    border: 1px solid ;
    justify-content: space-between;
    align-items: center;
}
.manu_bar{
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
   
    
   
}
.inner_box{
    width:40px;
    height: 40px;
    /* border: 1px solid;
    margin-left: 2px;
    margin-top: 5px; */
    align-items: center;
    justify-content: center;
    border: 1px solid;
    
}
 .manu_image{
    width:24px;
    height:24px;
    padding: 7px;
} 


.logo_image{
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid blue ;  
}

.in{
    width:11px;
    height: auto;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: slategray;
    margin-bottom: 15px;
}

.logo_image img {
    width: 100px;
}  

.search_container{
    width:732px; 
    height: 40px;
    display: flex;
} 

.search_box{
    width:640px;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0px 4px;
    margin: 0px 0px 0px 40px;
    
}

.search{
    width:536px;
    height: 40px;
    align-items: center;
    padding: 0px 4px 0px 16px;
    line-height: 40px;
    border: 1px solid darkorchid;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;

    

}


.search_bar{
    width: 100%;
    font-size: 16px;


}    
.search_button {
    align-items: center;
    justify-content: center; 
    width: 64px;
    height: 40px;
    display: flex;
    border: 1px solid navy;
    background-color: #F8F8F8; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    

     
}
.search_button img{ 
    width:24px;
    background-color: #F8F8F8;
} 

.mic_icon{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f5efef;
    
} 
.mic_icon img{
    width: 24px;
    height: 24px;
    margin: 0px;
}  

.dow_div{
    width:200px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download_icon {
    width: 40px;
    height: 40px;
} 

.download_icon img{
    width:30px;
    margin: 0px;
}

.notification_icon {
    width: 40px;
    height: 40px;  
}
.notification_icon img{
    width:30px;
    margin: 0px;
}

.profile {
    width: 40px;
    height: 40px;   
}

.profile img{
    width:30px;
    margin: 0px;
} 
/* moblie view media quray */

@media  (max-width: 576px) {
    .header_row {
        padding: 5px;
        align-items: center;
        /* background-color:  blue; */
        flex-wrap: nowrap;
        justify-content: space-between;
    
    }

    .col_manu {
        /* width: 100%; */
        /* justify-content: center; */
        
    }

    /* .logo_image {
        width: 100px;
        margin: auto;
    
    }  */
    .manu_bar {
        width: 40px;
    }
    .inner_box {
        width: 35px;
        height: 35px;
    }

    .manu_image {
        width: 20px;
        height: 20px;
    }

    .search_container {
        width: 100%;
        align-items: center;
    

    }

    .search_box {
        width: 100%;
        margin: 5px;
    }
    .search {
        width:100%;
    }
    .search_button {
        width: 50px;   

    }

    .mic_icon {
        width: 30px;
        height: 30px;
    } 

    .dow_div {
        width: 100%;
       /* justify-content: space-between; */
    
    }

    .download_icon,
    .notification_icon,
    .profile {
        width: 25px;
        height: 25px;
        
    }

    .download_icon img,
    .notification_icon img,
    .profile img {
        width: 25px;
    } 


    

    
}

/* Min Pad media quray veiw */

@media screen and (min-width: 576px) and (max-width: 1080px) {
    .header_row {
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
    }

    /* .col_manu {
        width: 100%;
    } */

    .manu_bar {
        width: 40px;
        height: 40px;
    }
    .inner_box {
        width: 35px;
        height: 35px;
    }


    .logo_image {
        width: 100px;
    }

    .search_container {
        width: 100%;
        align-items: center;
        
    }

    .search_box {
        width: 100%;
    }
    .search {
        width:100%;
    }

    /* .search_bar {
        width: 85%;
        height: 45px;
        padding: 8px;
    } */

    .search_button {
        width: 40px;
        height: 40px;
        padding: 5px;
    }

    .mic_icon {
        width: 40px;
        height: 40px;
    }

    /* .dow_div {
        width: 100%;
        justify-content: space-between;
    } */

    /* .download_icon,
    .notification_icon,
    .profile {
        width: 40px;
        height: 40px;
    } */

    /* .download_icon img,
    .notification_icon img,
    .profile img {
        width: 28px;
    } */
}  

/* sidebar css */

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.sidebar-col{
    width:230px;
    padding: 0px 10px 0px 0px;
    margin: 10px;
}

.menu_item_home{
    width: 204px;
    height: 40px;
    /* border: 1px solid #f5f5f5; */
    display: flex;
    border: 1px solid  red;
    padding: 5px;    
}
.menu_item_home:hover{
    background-color:#f5f5f5;
    color: white;
    /* border-radius: 15px; */
    
}
.icon_home{
    width: 64px;
    border: 1px solid;
    height: 24px;
    
   

}
.icon_home img{
    width: 24px;
    height: 24px;
  

}
.text_home{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}
.icon_shorts{
    width: 64px;
    border: 1px solid;
    height: 24px;
}
.icon_shorts img{
    width: 24px;
    height: 24px;

}
.text_shorts{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
   
    
}
.icon_subscripition{
    width: 64px;
    height: 24px;
    border: 1px solid;

}
.icon_subscripition img{
    width: 24px;
    height: 24px;
}
.text_subscripition{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;

}

.line{
   width: 200px; 
   border-bottom: 1px solid slategrey;;
   margin-top: 10px;
}   

h5{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 13px;

}
.moblie{
    display: none;
}

.you_image,.arr{
    display: block;
}

.menu_item_you{
    width: 204px;
    height: 40px;
    /* border: 1px solid #f5f5f5; */
    display: flex;
    border: 1px solid  red;
    padding: 5px;  
}

.menu_item_you:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    
}
.icon_arrow{
    width: 64px;
    border: 1px solid;
    height: 24px;
}
.icon_img{
    width: 24px;
    height: 24px;
}
.text_you{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    font-weight: bold;
    border: 1px solid;
    padding: 3px;
}
.icon_history{
    width: 64px;
    border: 1px solid;
    height: 24px;
    
}
.icon_history img{
    width: 24px;
    height: 24px;
}
.text_history{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;

}
.icon_playlists{
    width: 64px;
    border: 1px solid;
    height: 24px;

}
.icon_playlists img{
    width: 24px;
    height: 24px;

}

.text_playlists{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}

.icon_watch{
    width: 64px;
    border: 1px solid;
    height: 24px;
}

.icon_watch img{
    width:24px;
    height: 24px;

}
    
.text_watch{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
} 
.icon_videos{
    width: 64px;
    border: 1px solid;
    height: 24px;

} 
.icon_videos img{
    width:24px;
    height: 24px;
}

.text_videos{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}
.icon_movies{
    width: 64px;
    border: 1px solid;
    height: 24px;

}

.icon_movies img{
    width: 24px;
    height: 24px;
}
.text_movies{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}
.icon_courses{
    width: 64px;
    border: 1px solid;
    height: 24px;
}

.icon_courses img{
    width: 24px;
    height: 24px;
}
.text_courses{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;

}
.icon_liked{
    width: 64px;
    border: 1px solid;
    height: 24px;

}

.icon_liked img{
    width: 24px;
    height: 24px;
}
.text_liked{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}
.line{
    width: 200px; 
    border-bottom: 3px solid slategrey;
    margin-top: 10px;
}
.menu_item_subscripption{
    width: 204px;
    height: 40px;
    /* border: 1px solid #f5f5f5; */
    display: flex;
    border: 1px solid  red;
    padding: 5px;  
}
h4{
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 15px;
}

.menu_item_subscripption:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    border: 1px solid #f5f5f5;
    
}
.image_geeky{
    width: 64px;
    border: 1px solid;
    height: 24px;

}
.image_geeky img{
    width:24px;
    height: 24px;

}
.text_geeky{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    font-weight: bold;
    margin-top: 2px;
}
.image_winners{
    width: 64px;
    border: 1px solid;
    height: 24px;
}
.image_winners img{
    width: 24px;
    height:24px;
}
.text_winners{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
    margin-top: 2px;
}
.image_thapa{
    width: 64px;
    border: 1px solid;
    height: 24px;

    
   

}
.image_thapa img{
    width: 24px;
    height: 24px;
  

}
.text_thapa{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
    margin-top: 2px;
}
.image_army{
    width: 64px;
    border: 1px solid;
    height: 24px;

    
   

}
.image_army img{
    width: 24px;
    height: 24px;
  

}
.text_army{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
    margin-top: 2px;
}


.image_show{
    width: 64px;
    border: 1px solid;
    height: 24px;
}
.image_show img{
    width: 24px;
    height: 24px; 

}
.text_show{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
    margin-top: 2px;
}
.line{
    width: 210px; 
    border-bottom: 1px solid  black;
    margin-top: 10px;
}

.menu_item_explore{
    width: 204px;
    height: 40px;
    /* border: 1px solid #f5f5f5; */
    display: flex;
    border: 1px solid  red;
    padding: 5px;  
}

.menu_item_explore:hover{
    background-color:#f5f5f5;
    color: white;
    border-radius: 15px;
    
}

.image_live{
    width: 64px;
    border: 1px solid;
    height: 24px;
    

}

.image_live img{
    width: 24px;
    height: 24px;
}

.text_live{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
   
}

.icon_news{
    width: 64px;
    border: 1px solid;
    height: 24px;
    
}

.icon_news img{
    width: 24px;
    height: 24px;
}

.text_news{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}

.icon_sports{
    width: 64px;
    border: 1px solid;
    height: 24px;
}

.icon_sports img{
    width: 24px;
    height: 24px;
}

.text_sports{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
   
}

.icon_gaming{
    width: 64px;
    border: 1px solid;
    height: 24px;
    
}

.icon_gaming img{
    width: 24px;
    height: 24px;
}

.text_gaming{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;

}    

/* .icon_shorts{
    width: 63px;
    
}

.icon_shorts img{
    width: 25px;
}

.text_shorts{
    width: 132px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px;    
} */
.icon_music{
    width: 64px;
    border: 1px solid;
    height: 24px;
    
}

.icon_music img{
    width: 24px;
    height: 24px;
}
.text_music{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}

.icon_prdcasts{
    width: 64px;
    border: 1px solid;
    height: 24px;
}

.icon_prdcasts img{
    width: 24px;
    height: 24px;
}

.text_prducasts{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}

.icon_beauty{
    width: 64px;
    border: 1px solid;
    height: 24px;
}

.icon_beauty img{
    width: 24px;
    height: 24px;
}

.text_beauty{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}

.icon_trending{
    width: 64px;
    height: 24px;
    
}

.icon_trending img{
    width: 24px;
    height: 24px;
}

.text_trending{
    width: 132px;
    height: 20px;
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #0f0f0f;
    border: 1px solid ;
    margin-top: 2px;
    font-weight: bold;
}

.manu_item_moblie{
    display: none;
}



/*  main body css */


.main_body{
    /* width: 100%;     */
}

.row_frist{
    display: flex;
    /* line-height: 50px; */
    /* margin: 12px 12px 12px 0px; */
    gap:5px;
    
}

.col1-col:hover{
    background-color:#0f0f0f;
    color: white;
    
}

.col1-col{
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    font-size:14px;
    text-align: center; 
    border-radius: 10px;
    background-color: #0000000D; 
    align-items: center;
    line-height: 40px;
}

.col2-col img{
    margin-top: 10px;
    width: 25px;
    padding: 2px;
} 

.col1-col{
    display:block;
} 

.col1-moblie,
.col1-tablet{
    display:none;
} 


/* seconed row css */

.row_seconed{ 
    padding: 10px; 
    display: flex; 
}

.coll-box1{
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.coll-box2{
    border: 1px solid blueviolet;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}  

.image_text { 
    width: 100%;

}

.image_text img {
    width: 100%;
    padding: 5px; 
}

.title_logo img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.three_dot img{
    width:15px;
    height: 15px;
    padding: 5px;
      
}

.col1-text{
    display: flex;
}

.logo-text{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 8px;
    font-size: 14px;
}


/* row  three */
.row_three {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #f5f5f5;
    margin-top: 10px;
    border: 1px solid ;
}

.row_shots img {
    width: 100px; 
   
}

.three_dot img {
    width: 30px;
    height: auto;
}

/*  row number four */


.row_four{
    display: flex;
    justify-content: center; 
    margin-top: 20px;   
}

.coll1-shorts1 {
    border: 1px solid blueviolet;
    padding: 9px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}  

.coll1-shorts2{
    border: 1px solid blueviolet;
    padding: 9px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}  

.coll-shorts{
    width: 100%;
    
} 

.coll-shorts img{
    width: 100%;
    
}

.shorts_text{
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}

.shorts_text img{
    width: 20px;
    height: 20px;;
}  



@media  (max-width: 576px){

    .sidebar-col{
        width:64px;
        margin: 0px;
    } 

    .menu_item_home,
    .menu_item_you,
    .menu_item_subscripption,
    .menu_item_explore{
        display: none;
    }
    
    .you_image{
        display: none;
    }
    .line{
        display:none;
    }
    h4{
        display: none;
    }

    .col_moblie_manu{
        width: 30px;
        padding: 8px;
    }
    .col_moblie_manu img{
        width: 25px;
    }
    h5{
        font-size: 10px;
        margin: 0px;

    }

    .main_body {
        width: 87%;
    }

    .row_frist{
        align-items: center;
        justify-content: space-between;
    }

    .col1-moblie {
        display:block;
        font-weight: bold;
        font-size: 14px;
        font-family: Arial, sans-serif;
        line-height: 30px;
        background-color: #0000000D;
        border-radius: 5px;
        padding: 5px 5px 5px 0px;
        text-align: center;
    }

    .col1-col,
    .col1-tablet{
        display:none;
    }     

    .col2-col img{
        width:25px;
        background-color: #0000000D;
        border-radius: 10px;
        text-align: center;
         
    } 

    .row_second {
        display: flex;
        gap: 10px;
    }
    
    .coll-box2{
        display: none;

    } 
    .coll1-box1{
        width: 50%;
        margin-bottom: 10px;
        padding: 1px;
    }
    

    /* .row_three {
        padding: px; 
    }

    .row.shots img {
        width: 60px;  
        height: auto;
    }

    .three_dot img {
        width: 20px;  
        height: auto;
    }  */

    .coll1-shorts2 {
        display: none;
 
    }  
    
    .coll1-shorts1{
        width: 90%;
        padding: 1px;
        margin: 3px;
    }

    .coll1-shorts1 img{
        height: 200px;
        
    } 
    .shorts_text {
        font-size: 11px;
        justify-content: center;
    }

    .shorts_text img {
        width: 15px;
        height: 15px;
    }

    .manu_item_moblie{
        display: block;
    } 

    .coll1-shorts2 {
        display: none;
  
    } 
    
}




@media screen and (min-width: 576px) and (max-width: 1080px) {

    .sidebar-col {
        width: 55px;
        padding: 3px;
        margin: 0px;
    }

    .menu_item_home,
    .menu_item_you,
    .menu_item_subscripption,
    .menu_item_explore,
    .you_image,
    .line{
        display: none;
    }

    h4{
        display: none;
    }
    .col_moblie_manu {
        width: 40px;
        padding: 13px 10px; 
        align-items: center;
        background-color: #f8f9fa; 
        border-radius: 8px; 

    }    

    .col_moblie_manu img{
        width: 24px;
        height: 24px; 
    }
    .col_moblie_manu h4{
        font-size: 14px;
        color: #333;
        margin: 0;
    }


    .main_body {
        width: 90%;
    }

    .row_frist {
        align-items: center;
        text-align: center;
        
    }

    .col1-moblie{
        display: block;
        font-weight: bold;
        font-family:Arial, sans-serif;
    
    }
    .logo-text{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    } 

    .col1-col {
        display: none;
        padding: 5px 10px; 
    }

    .col2-col img {
        width: 100%;
        /* margin-top: 18px; */
        padding: 3px;
    } 
   

    .col1-tablet{
        display: block;
        font-weight: bold;
        font-size: 15px;
        font-family: Arial, sans-serif;
       
    }
    
    /* .coll_shorts_div {
        width: 300px;
        padding: 3px; 
        margin-bottom: 5px;
        padding: 5px;
        object-fit: cover;
    } */

    /* .coll1-shorts1 img{
        width: 100%; 
        border-radius: 20px;
    }

    .shorts_text {
        width: 170px;
        min-height: 35px;
        font-size: 14px; 
    }
    .shorts_text img {
        width: 25px;
        height: 18px;
        margin-top: 8px; 
    }
    .coll1-shorts2 {
        display: none;
  
    }  */
    .coll-box2{
        display: none;

    } 
    .manu_item_moblie{
        display: block;
    } 
    .coll1-shorts2{
        display: none;
    }
}    
    



